*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;

    color: white;
    background-color: rgb(54, 54, 54);
}
form{
    background-color: white;
    color: black;

    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}
form > p{
    padding: 10px 0px 10px 0px;
    text-align: center;
}
footer > p{
    padding-top: 20px;
}
header > h1{
    padding: 20px;
}
#resultado{
    font-size: 3em;
    text-align: center;
}
#button > input{
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;

    color: white;
    background-color: rgb(16, 138, 0);
}
input, select{  
    border-radius: 5px;
    border: 2px solid rgb(16, 138, 0);

}
